body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section {
  margin: 40px;
}

.size-label {
  text-align: left;
}

.font-disabled {
  color: #716E6D;
  font-style: italic;
}

.font-normal {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
}

.font-small {
  font-size: 14px;
}

.font-big {
  font-size: 20px;
  font-weight: bold;
}

.total {
  margin: 40px 550px 50px;
  width: 200px;
}

.total-final {
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
}

.total-extras {
  margin-left: 20px;
  font-size: 13px;
  color: #716E6D;
  font-style: italic;
}

.total-text {
  display: inline-block;
  float: left;
  text-align: left;
  text-transform: capitalize;
  width: 90px;
}

.total-number {
  display: inline-block;
  float: right;
  margin-left: 20px;
}

.item {
  margin-left: 10px !important;
  padding: 0px !important;
  font-size: 17px;
}

#item * {
  font-size: 17px;
}
